@model library_management_system.Models.Branch

@{
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}
<div class="card w-50 m-auto mt-5">
    <div class="card-body">
        <div>
            <h4>Branch</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BranchName)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.BranchName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Location)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.BranchID" class="btn btn-warning">Edit</a> |
            <a asp-action="Index" class="btn btn-danger">Back to List</a>
        </div>
    </div>

</div>

